*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}


  #logo-escola img {
    width: 170px;  
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

h1{
  font-size: 3rem;             
  font-weight: bold; 
  line-height: 1.2;                             
  text-align: center;        
  text-transform: uppercase;       
  margin-bottom: 40px; 

}

h2{
    font-size: 2rem;
    text-align:start;
    padding: 30px;
}

#formulario {
    background-color: #accfdd;       
    padding: 20px;                     
    width: 500px;                     
    margin: 0 auto;                  
    border-radius: 8px;                
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  
}
#formulario label{
    display: block;                   
  margin-bottom: 8px;
  font-size: 1rem;                   
  color: #333333;    
  padding: 2px ;
}

 input{
    border-color:  #4bd8c5;  
    outline: none;  
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
  }
   
  #botao{
    width: 300px;                  
    padding: 20px;                 
    margin:auto;             
    background-color: #f4f4f4;    
    text-align: center;           
    border-radius: 8px;          
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  }

  button {
    background-color: #2f4686; 
    color: white;              
    border: none;               
    padding: 15px 32px;           
    font-size: 16px;              
    margin-top: 20px;             
    border-radius: 5px;         
    cursor: pointer;              
  }


 #saida{
    display: flex;          
    flex-direction: column;   
    gap: 10px;               
    margin: 0 auto;       
    padding: 20px;  
    margin-bottom: 10px;                 
    width: 500px;     
} 

h3{
  font-size: 1.5rem;
    text-align:center;
    padding: 30px;
}
#listaAlunos{
 flex-direction: column;
 background-color: #bfd0ff;
 padding: 30px;                     
 width: 500px;                     
 margin: 0 auto;                  
 border-radius: 8px;        
    
}